node_modules/

playwright-report/
test-results/
playwright/.cache/

allure*

dist/
build/

.DS_Store
Thumbs.db

*.log
npm-debug.log*

jspm_packages/

.npm

cucumber-report.html
reports/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea/
.vscode/
*.swp
*.swo
